/* Place CSS styles here */
body {
    background-color: #f2eee8 ;
}
.navbar {
  background-color: #4e0a0b;
  padding: 15px;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-name {
 font-family: "Beth Ellen", cursive;
 font-weight: 400;
 font-style: normal;
 color: #e38792;
 font-size: 20px;
}

.hamburger-icon {
  font-size: 30px;
  cursor: pointer;
  color: #e38792;
  display: none;
}

.hamburger {
  display: block;
  color: #e38792;
}

.menu {
 display: block; /* Hide the menu by default */
}

.menu.expanded {
  display: block;
}

@media (max-width: 768px) {
  .menu {
    display: none; /* Show the menu on smaller screens */
  }
  .hamburger-icon {
    display: block; /* Show the hamburger button on smaller screens */
  }
}

.hero {
width: 100%;
max-width: 1200px;
margin: 0 auto;
padding: 20px;
}

.hero-content {
width: 90%; /* Takes up 90% of the .hero container */
margin: 0 auto; /* Center the content */
text-align: center;
}
@media (max-width: 768px) {
    .hero-content {
width: 100%; /* Adjust width for smaller screens */
}
}
